APScheduler==3.11.0
asgiref==3.9.2
Brotli==1.1.0
certifi==2025.8.3
cffi==2.0.0
chardet==3.0.4
cssselect2==0.8.0
Django==5.1.1
django-jazzmin==3.0.1
fonttools==4.60.0
idna==2.8
pillow==11.1.0
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
reportlab==4.2.5
requests==2.22.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzlocal==5.2
urllib3==1.25.11
weasyprint==63.1
webencodings==0.5.1
zopfli==0.2.3.post1
