td input {
    width: 100%;
}

.root-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-red {
    color: red;
}

main {
    flex: 1 0 auto;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 50px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    align-self: center;
    width: 100%;
}

.footer-text a {
    color: #555;
    text-decoration: none;
}

.footer-text a:hover {
    color: #000;
    text-decoration: underline;
}
